<section id="about" class="w-full h-screen grid grid-cols-1 lg:grid-cols-2">
  <div
    id="description"
    class="flex justify-center items-center text-center lg:order-2"
  >
    <div class="bg-white/75 rounded-xl w-3/4 p-10">
      <h1 class="text-4xl">Diego Donis</h1>
      <h2 class="text-2xl">Desarrollador de softwared</h2>
      <p>
        Hola me llamo Diego Jared Donis soto. Soy desarrollador de software con
        amplia experiencia en soluciones web. Me dedico a resolver problemas con
        la tecnología como mi herramienta principal.
      </p>
    </div>
  </div>
  <div class="flex justify-center items-center lg:order-1">
    <img
      class="max-h-80 rounded-full border-8 bg-gray-600"
      src="/images/image.png"
    />
  </div>
</section>

<style>
  #about {
    background-image: url("/public/images/669.jpg");
    background-size: cover;
  }
</style>
