---
import Item from "../components/timelineitem.astro";
---

<section id="experience" class="flex flex-col mt-10">
  <div class="container mx-auto rounded-md bg-white p-10">
    <h2 class="text-2xl">Experiencia laboral</h2>
    <Item
      title="Banco Promerica"
      subtitle="Analista programador"
      date="dic 2023 - Actualidad"
      description="Desarrollo de soluciones para perifericos que interactuan con clientes del banco en guatemala"
    />
    <Item
      title="Digital Geko"
      subtitle="Analista .NET"
      date="oct 2022 - nov 2023"
      description="Desarrollo de soluciones informáticas a la medida"
    />
    <Item
      title="Recagua"
      subtitle="Desarrollador de software"
      date="sep 2021 - feb 2023"
      description="Se desarrollaron sistemas para uso interno de la empresa tales como un generador de formularios dinámico y un software para el manejo de informacion de clientes"
    />
    <Item
      title="Offymarket"
      subtitle="Desarrollador Front End"
      date="jun 2020 - oct 2021"
      description="Se desarrollo un erp completamente funcional para gestionar procesos de compra, venta, manejo de inventarios y creacion de recetas de productos"
    />
  </div>
</section>
